#title-container {
    height: 500px;
    background: url(../images/home-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#menu-container {
    background-color: beige;
    text-align: center;
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
    justify-content: space-between;
}

body {
    background: url(../images/home-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*table.home-menu {
    border-collapse: collapse;
    border-style: hidden;
}

table td {
    border: 1px solid black;
}*/