* {
    font-family: 'Lato', sans-serif;
}

body {
    background: url(../images/home-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

    main {
        text-align: center;
    }

        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }

            #container.home-title {
                margin-top: 175px;
            }

                h3.home-title {
                    font-weight: 100;
                    font-size: 30px;
                    color: white;
                }

                h1.home-title {
                    font-size: 64px;
                    color: white;
                }
                
                h2.home-title {
                    color: white;
                }
            
            #container.home-menu {
                width: 100%;
            }

                table.home-menu {
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                    border-collapse: collapse;
                    border-style: hidden;
                }
                
                table td.home-menu {
                    border: 1px solid white;
                    color: white;
                }










